#mc_embed_signup {
  width: 100%;
  font-family: inherit !important;

  h2 {
    text-transform: uppercase;
  }
  /* space between checkboxes and their labels */
  input[type='checkbox'] {
      margin-right: 1rem;
  }

  input[type='submit'] {
    font-weight: 500;
  }

  .phonefield {
    white-space: nowrap;
    .small-meta {
      padding-top: 0.5rem;
      display: block;
    }
  }


  /*
  form {
    padding: 0 !important;
  }
  */

}
