/* CAMPSITE: Override Post + Page styles */

.post-full-image {
  display: none;
}
.post-full-header {
  background-size: cover;
  background-position: center center;
  background-color: black;
  background-image: linear-gradient(rgba(0,0,0,0.32), var(--cs-color-secondary)), var(--featured-image-url);

  display: flex;
  flex-direction: column;
  align-items: left;
  overflow: hidden;
  margin: 25px 0 50px;
  border-radius: 3px;
  padding-left: 170px;
  padding-right: 170px;
}


@media (max-width: 1170px) {
    .post-full-header {
        margin: 25px -6vw 50px;
        border-radius: 0;
        margin-top: 0;

        padding-left: 16vw;
        padding-right: 16vw;
    }
}

@media (max-width: 800px) {
    .post-full-header {
        margin: 25px -5vw;
        margin-top: 0;

        padding-left: 10vw;
        padding-right: 10vw;
    }
}

@media (max-width: 500px) {
  .post-full-header {
    padding-left: 5vw;
    padding-right: 5vw;
  }
}


  .post-full-title {
    color: white;
  }
  .post-full-custom-excerpt {
    color: white;
    opacity: 0.8;
  }

/* post attribution in header */
.post-full-header .post-full-byline-meta, .post-full-header .author-name a, .post-full-header .author-name a:hover {
  color: white;
  opacity: 0.8;
}
