/* featured posts display as pages */
/* hide featured and show featured */
.post-card.featured .post-card-meta.hide-featured {
  display: none;
}
.post-card:not(.featured) .post-card-meta.show-featured {
  display: none;
}


.post-card.featured .btn {
  /* width: 100%; */
  margin-top: 1rem;
  padding-left: 20px;
  padding-right: 20px;
}

.post-card.featured .post-card-excerpt p {
  margin-bottom: 0;
}


/* typeography */
.post-card-title {
  text-transform: uppercase;
}
