.site-home-header {

  /* primary action button on index page */
  .site-description {
    opacity: 0.85;
  }
}
  .site-primary-action {
    z-index: 1000;
    margin-bottom: 0;
    /* hide all but primary links from nav */
    a:not(.nav-item-0) {
      display: none;
    }
    .nav-item-0.social-link-fa {
      display: none;
    }

    /* primary button styles */
    .nav {
      position: relative;
    }
    .navigation-ul, .navigation-fa {
      display: none;
    }
    .btn {
      padding-left: 1.8rem;
      padding-right: 1.8rem;
    }
  }
